.supplier-card {
  width: calc(100% - 40px);
  margin: 20px;
  border-radius: 18px;
  box-shadow: 0 12px 60px 10px #0000000D;
  position: relative;

  .top-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0 20px;

    .title {
      font-family: PingFang SC;
      font-size: 36px;
      font-weight: 500;
    }

    .top-container-right {
      display: flex;
      justify-content: flex-end;
      .details {
        width: 80px;
        padding: 12px 20px 12px 20px;
        border-radius: 100px;
        background: #F5F6F7;
        margin-right: 10px;

        .check-in {
          color: #1ec263;
          font-size: 24px;
        }
      }
    }
  }

  .medium-container {
    display: flex;
    flex-direction: column;
    font-family: PingFang SC;
    font-size: 28px;
    font-weight: 400;
    line-height: 2;
    padding-left: 20px;
  }

  .bottom-container {
    padding: 10px 20px 20px 0;
    display: flex;
    justify-content: flex-end;

    .paid {
      margin-right: 12px;
    }
  }
}
