.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .circle {
      width: 120px;
      height: 120px;
      position: absolute;
      top: 488px;
      border-radius: 50%;
      background-color: #1ec263;
      display: flex;

      .title {
        font-family: HYYakuHei;
        font-size: 64px;
        font-weight: 700;
        color: #fff;
        margin: auto;
      }
    }

    .sub-title {
      font-family: Microsoft YaHei;
      font-size: 28px;
      font-weight: 400;
      line-height: 22px;
      position: absolute;
      top: 638px;
    }
  }

  .loading-wrapper {
    display: flex;
    position: absolute;
    bottom: 60px;

    .loading-icon {
      width: 32px;
      height: 32px;
      animation: spin 3s linear infinite;
      margin-right: 12px;
    }

    .loading-text {
      font-size: 24px;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
