.supplier-container {

  .add-btn {
    margin: 20px;
  }

  .my-shop {
    font-family: PingFang SC;
    font-size: 36px;
    font-weight: 500;
    padding: 32px 0 0 32px;
  }

  .order-container {
    position: fixed;
    width: 100px;
    height: 80px;
    bottom: 120px;
    right: 0;
    padding: 8px 16px 8px 16px;
    border-radius: 1998px 0 0 1998px;
    border: 1px solid #1EC263;
    display: grid;

    .order-text {
      font-family: PingFang SC;
      font-size: 24px;
      font-weight: 600;
      color: #1EC263;
      margin: auto;
    }
  }

  .footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }
}
