.result {
  font-family: PingFang SC;
  font-size: 36px;
  font-weight: 500;
  padding: 32px 0 0 32px;
}

.search-btn {
  margin: 20px;
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
